<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <!-- vis.js -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.15.1/vis.min.css" rel="stylesheet" type="text/css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.15.1/vis.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


  <meta charset='UTF-8' />
  <title><%= @title %></title>
</head>

<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">沙鹿地區淹水逃生路線模擬</a>
    </div>
  </div>
</nav>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
